html {
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    }

* {  
    margin:0; 
    padding:0;
    /* box-sizing: border-box */
    }

body{ 
    margin: 0 auto; 
    padding-top: 25px;
    padding-bottom: 25px;
    background: #000 url(../images/Коты.jfif); /* Фоновый цвет и фоновый рисунок*/
	color: black; /*Цвет текста на странице*/
	background-attachment: fixed; /* Фон страницы фиксируется */
	background-repeat: repeat; /* Изображение повторяется по горизонтали */
    } 

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    background-color:white;
    /* top right bottom left */
    padding: 1px 10px 15px 10px;
    }

button {
    background-color: white;
    border: white; 
    }

img {
    display: block;
    margin: 0 auto;
    }

.Click {
    display: block;
    margin: 0 auto;
    cursor: url(../images/Hands-Ref.png), auto;
      }

.Click-img {
    width: 250px;
    height: 200px;
    object-fit: contain;
}

.Cat {
    display: block;
    margin: 0 auto;
    background-color: lightblue;
}

h1 {
    font-size: 48px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 300;
    }

h2 {
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    }
  
p, li {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: justify;
    text-indent: 30px;
    padding-left: 7px;
    }

table {
    margin: auto;
}

.table_costs {
    margin-top: 0px;
    border: 2px solid lightblue;
    width: 900px;
    height: 250px;
    background-color: lightblue;
}

.td1 {
    text-align: center;
    height: 100px;
    width: 350px;
}

.td2 {
    text-align: center;
    height: 100px;
    width: 350px;
}

.td3 {
    text-align: center;
    height: 100px;
    width: 200px;
}

.table_int {
    width: 330px;
    border: 2px solid white;
    border-collapse: collapse;
}

.name {
    width: 220px;
    border-bottom: 1px solid lightblue;
    border-top: 1px solid lightblue;
}

.td-button {
    width: 110px;
    background-color: rgb(133, 199, 223);
}

a.button-buy {
    position: relative;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    text-decoration: none;
    /* text-shadow: 0 -1px 2px rgba(0,0,0,.2); */
    padding: .5em 1em;
    outline: none;
    /* border-radius: 3px; */
    background: rgb(133, 199, 223);
    color: black;
    /* box-shadow:
     0 1px rgba(24, 6, 122, 0.432) inset,
     0 3px 5px rgba(0,1,6,.5),
     0 0 1px 1px rgba(0,1,6,.2); */
    transition: .2s ease-in-out;
    width: 75px;
  }
  a.button-buy:hover:not(:active) {
    /* background: linear-gradient(rgb(73, 73, 221), rgb(20, 20, 134)) rgb(73, 73, 221); */
    background: lightblue;
  }
  a.button-buy:active {
    top: 1px;
    background: white;
    /* box-shadow:
     0 0 1px rgba(4, 6, 122, 0.432) inset,
     0 2px 3px rgba(0,0,0,.5) inset,
     0 1px 1px rgba(7, 1, 31, 0.1); */
  }